In [2]:
import pymysql
import pandas as pd

In [3]:
df=pd.read_csv("REDBUSDATA.csv")

In [4]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [5]:
df

,state_name,route_link,route_name,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
0,ktcl,https://www.redbus.in/bus-tickets/pune-to-goa,Pune to Goa,Kadamba Transport Corporation Limited (KTCL) -...,Non AC Seater 2+2,19:00:00,10h 00m,05:00:00,4.4,600.0,32
1,ktcl,https://www.redbus.in/bus-tickets/pune-to-goa,Pune to Goa,Kadamba Transport Corporation Limited (KTCL) -...,A/C Sleeper (2+1),19:15:00,10h 35m,05:50:00,3.7,900.0,16
2,ktcl,https://www.redbus.in/bus-tickets/pune-to-goa,Pune to Goa,Atmaram Gobus,VE A/C Sleeper (2+1),22:30:00,10h 15m,08:45:00,4.6,801.0,3
3,ktcl,https://www.redbus.in/bus-tickets/pune-to-goa,Pune to Goa,Ashray Travels,Bharat Benz A/C Sleeper (2+1),21:00:00,11h 30m,08:30:00,4.5,699.0,29
4,ktcl,https://www.redbus.in/bus-tickets/pune-to-goa,Pune to Goa,Ashray Amrutyog,A/C Sleeper (2+1),22:00:00,11h 30m,09:30:00,4.4,699.0,29
...,...,...,...,...,...,...,...,...,...,...,...
5103,pepsu,https://www.redbus.in/bus-tickets/chandigarh-t...,Chandigarh to Patiala,Orbit Aviation Pvt. Ltd.,A/C Seater (2+2),14:50:00,01h 40m,16:30:00,4.1,200.0,35
5104,pepsu,https://www.redbus.in/bus-tickets/chandigarh-t...,Chandigarh to Patiala,Orbit Aviation Pvt. Ltd.,A/C Seater (2+2),16:55:00,01h 35m,18:30:00,3.5,200.0,35
5105,pepsu,https://www.redbus.in/bus-tickets/chandigarh-t...,Chandigarh to Patiala,Orbit Aviation Pvt. Ltd.,A/C Seater (2+2),13:55:00,01h 45m,15:40:00,2.7,200.0,41
5106,pepsu,https://www.redbus.in/bus-tickets/chandigarh-t...,Chandigarh to Patiala,Orbit Aviation Pvt. Ltd.,A/C Seater (2+2),15:25:00,01h 20m,16:45:00,2.2,200.0,27
5107,pepsu,https://www.redbus.in/bus-tickets/chandigarh-t...,Chandigarh to Patiala,NEW FATEH BUS SERVICE,Volvo A/C Semi Sleeper (2+2),16:25:00,01h 35m,18:00:00,4.4,600.0,30

In [6]:
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='1441')

In [7]:
myconnection.cursor().execute("create database redbusscrape")

1

In [8]:
myconnection.cursor().execute(" use redbusscrape")

0

In [9]:
#'float64': 'FLOAT','int64': 'INT','object': 'VARCHAR(255)',  # You may need to adjust the length based on your data
   # 'bool': 'BOOLEAN'
a=",".join(f"{i} {j}"
for i,j in zip(df.columns,df.dtypes)).replace("float64","float").replace("int64","int").replace("object","VARCHAR(255)")

In [10]:
f"create table busdata ({a})"

'create table busdata (state_name VARCHAR(255),route_link VARCHAR(255),route_name VARCHAR(255),busname VARCHAR(255),bustype VARCHAR(255),departing_time VARCHAR(255),duration VARCHAR(255),reaching_time VARCHAR(255),star_rating float,price float,seats_available int)'

In [11]:
myconnection.cursor().execute('create table busdata (state_name VARCHAR(255),route_link VARCHAR(255),route_name VARCHAR(255),busname VARCHAR(255),bustype VARCHAR(255),departing_time VARCHAR(255),duration VARCHAR(255),reaching_time VARCHAR(255),star_rating float,price float,seats_available int)')

0

In [12]:
insert_query=""" INSERT INTO busdata (state_name, route_link, route_name, busname, bustype,
       departing_time, duration, reaching_time, star_rating, price,
       seats_available) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) """

In [16]:
for index,row in df.iterrows():
    myconnection.cursor().execute(insert_query,(row['state_name'],row['route_link'],row['route_name'],row['busname'],row['bustype'],row['departing_time'],row['duration'],
                                                row['reaching_time'],row['star_rating'],row['price'],row['seats_available']))

In [17]:
myconnection.commit()